.box {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}

.left {
  width: 40%;
  height: 350px;
  margin-left: 30px;
  margin-top: 40px;
}

.right {
  width: 40%;
  height: 350px;
  margin-left: 30px;
  margin-top: 40px;
}

img {
  width: 400px;
  height: 350px;
}

p {
  font-size: 25px;
  margin-top: 40px;
}

button {
  margin-top: 50px;
}
